@import '../../styles/variables.scss';

:root[data-theme='light'] {
  .projectImageBlock {
    border: 1px solid rgba(196, 199, 205, 0.1);
    background-color: rgba(90, 92, 94, 0.4);
  }
}

.project {
  display: flex;
  flex-direction: column;
  max-width: $widthProjectBlock;
  width: 100%;
  position: relative;
  overflow: visible;
  border-radius: $borderRadiusProjectBlock;
  row-gap: 10px;
}

.projectImageBlock {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(196, 199, 205, 0.1);
  border-radius: $borderRadiusProjectBlock;
  background-color: rgba(90, 92, 94, 0.1);
  cursor: pointer;
  transition: transform 1s;
  &:hover {
    transform: scale(1.1);
  }
}

.projectTitleBlock {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $orangeHover;
  }
}

@mixin startProjectSlideState {
  position: absolute;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: 0.4s ease-in-out;
}

@mixin endProjectSlideState {
  position: absolute;
  opacity: 1;
  top: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;
}

.projectSlideEnter {
  @include startProjectSlideState;
}

.projectSlideEnterActive {
  @include endProjectSlideState;
}

.projectSlideExit {
  @include endProjectSlideState;
}

.projectSlideExitActive {
  @include startProjectSlideState;
}
