$mobileBreakpointMax: 485px;
$tabletBreakpointMax: 768px;
$tabletLgBreakpointMax: 1024px;
$laptopBreakpointMax: 1440px;
$desktopBreakpointMax: 1920px;

$bgBlack: #141414;
$textMainColor: #f0f0f0;
$textOrangeColor: #f77519;
$textBlackColor: #0e0e0e;
$textPinkColor: #f5487f;
$bgColor: radial-gradient(50% 50% at 50% 50%, #3c4444 0%, #1f2424 100%);
$orangeHover: #f29766;
$pinkHover: #f1acc2;
$borderColor: #c2c2c2;

$textGreyColor: #b0b0b0;

$bgGrey: #1c1c1e;

$bgWhite: #f8f8f8;
$textMainColorLight: #333;

$textBlueColor: #f77519;
$textWhiteColor: #ffffff;
$blueHover: #f29766;

$widthProjectBlock: 270px;
$borderRadiusProjectBlock: 8px;
